[submodule "buffer"]
	path = buffer
	url = https://github.com/dimitry-ishenko-neovim/nvim-cmp-buffer.git
[submodule "cmdline"]
	path = cmdline
	url = https://github.com/dimitry-ishenko-neovim/cmp-cmdline.git
[submodule "lsp"]
	path = lsp
	url = https://github.com/dimitry-ishenko-neovim/nvim-cmp-lsp.git
[submodule "path"]
	path = path
	url = https://github.com/dimitry-ishenko-neovim/cmp-path.git
[submodule "snippy"]
	path = snippy
	url = https://github.com/dimitry-ishenko-neovim/nvim-cmp-snippy.git
[submodule "copilot"]
	path = copilot
	url = https://github.com/dimitry-ishenko-neovim/nvim-cmp-copilot.git
[submodule "lsh"]
	path = lsh
	url = https://github.com/dimitry-ishenko-neovim/nvim-cmp-lsh.git
